.cr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 85, 85);
  color: #fff;
  padding: 1.5rem 0rem;
  font-family: var(--font-family);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

@media screen and (max-width: 430px) {
  .cr p {
    font-size: 12px;
  }
}
